#
# cliente.cnf
#

[ req ]
prompt                  = no
distinguished_name      = server_distinguished_name
req_extensions          = v3_req

[ server_distinguished_name ]
commonName              = Cliente ECO Inst. Financeira
organizationName        = IF 453
countryName             = BR
stateOrProvinceName     = SC
emailAddress            = atendimento.eco@dataprev.gov.br
organizationalUnitName  = CBC H453

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
#subjectAltName          = @alt_names
extendedKeyUsage        = clientAuth, serverAuth
crlDistributionPoints   = URI:http://portal.dataprev.gov.br/

#[ alt_names ]
#DNS.0                   = tradeshowhell.com
#DNS.1                   = alt.tradeshowhell.com

#URI:http://portal.dataprev.gov.br/